<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://192.168.9.208:3306/ecis_wiitrans_com?useUnicode=true&amp;charactorEncoding=utf8" />
				<property name="username" value="myuser" />
				<property name="password" value="password" />
				<property name="poolMaximumIdleConnections" value="0" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/wiitrans/base/db/model/TranslatorBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/TransGradeBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictRateBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictFactorBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictLangBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictLangPairBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictTermBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictTermDetailsBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/OrderBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/OrderFileBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/RecomOrderBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/RecomFileBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictIndustryBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/TermBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/TermDetailsBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/TermDetailsEvaBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/ProcTranslatorMsg.xml" />
		<mapper resource="com/wiitrans/base/db/model/ProcPreprocess.xml" />
		<mapper resource="com/wiitrans/base/db/model/ProcLoadFile.xml" />
		<mapper resource="com/wiitrans/base/db/model/ProcLogin.xml" />
		<mapper resource="com/wiitrans/base/db/model/RoomBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/RoomUserBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/AutomationTaskBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/TMBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/TMVariantBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/DictLangCountryBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/ProcTransSettlement.xml" />
		<mapper resource="com/wiitrans/base/db/model/TranslatorFinanceBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/MessageUserBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/ProcRecomOrderEmail.xml" />
		<mapper resource="com/wiitrans/base/db/model/TMService.xml" />
		<mapper resource="com/wiitrans/base/db/model/TermCustoGroupBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/TermCustoBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/JudgeBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/StrategyBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/SubjectiveBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/ExamPaperBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/ExamQuesBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/VoteBean.xml" />
		<mapper resource="com/wiitrans/base/db/model/MatchService.xml" />
		<mapper resource="com/wiitrans/base/db/model/SentCheckWord.xml" />
		<mapper resource="com/wiitrans/base/db/model/ProcCreateOrderMlv.xml" />
	</mappers>
</configuration>
